
@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Roboto+Slab:wght@500&display=swap');


body {
    /* background-color: #e60000; */
      /* The image used */
  /* background-image: url("https://static.vecteezy.com/system/resources/previews/012/024/001/original/abstract-textured-dark-blue-polygonal-background-low-poly-geometric-consisting-of-triangles-of-different-sizes-and-colors-use-in-design-cover-presentation-business-card-or-website-free-vector.jpg"); */
  /* background-image: url("https://i.pinimg.com/originals/02/ba/86/02ba867e545f953631148c89629412b1.jpg"); */
  /* background-image: url("https://static.vecteezy.com/system/resources/previews/001/217/366/original/polygonal-blue-background-vector.jpg"); */
  /* background-image: url("https://i.pinimg.com/originals/4e/d9/3a/4ed93a925416e114dd4f9657e9121c1b.jpg"); */
  background-image: url("https://images.pexels.com/photos/12732220/pexels-photo-12732220.jpeg");

  background-repeat: repeat-y; /* Repeat vertically */
  background-size: cover; /* Cover the entire viewport */
    font-family: 'Merriweather', serif;
    font-family: 'Roboto Slab', serif;
}

html, body{
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
}

.animate-class {
    animation-name: fade;
    animation-duration: 1s;
  }
  
  @keyframes fade {
    0% {
      opacity: 0;
    }
    10% {
      opacity: 0.1;
    }
    20% {
      opacity: 0.2;
    }
    30% {
      opacity: 0.3;
    }
    40% {
      opacity: 0.4;
    }
    50% {
      opacity: 0.5;
    }
    60% {
      opacity: 0.6;
    }
    70% {
      opacity: 0.7;
    }
    80% {
      opacity: 0.8;
    }
    90% {
      opacity: 0.9;
    }
    100% {
      opacity: 1;
    }
  }

nav, footer{
    position: relative;
    z-index: 1;
}
.container{
    position: relative;
    z-index: 1;
}

.my-card {
    min-height: 300px;
    width: 100%;
    background-color: #00634226;
    border-width: 3px;
    border-style: groove;
    border-color: rgba(255, 255, 255, 0.904);
    box-shadow: inset 0 0 8px #e7e7e7c5;
    font-size: 20px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    /* color: ; */
}

.carousel__next,
.carousel__prev {
    background-color: rgb(255, 238, 0) !important;
    height: 90px !important;
}

.carousel__prev {
    /* left: -9% !important; */
    border-radius: 0 10px 10px 0 !important;
    -webkit-border-radius: 0 10px 10px 0 !important;
    -moz-border-radius: 0 10px 10px 0 !important;
    -ms-border-radius: 0 10px 10px 0 !important;
    -o-border-radius: 0 10px 10px 0 !important;
}

.carousel__next {
    /* right: -9% !important; */
    border-radius: 10px 0 0 10px !important;
    -webkit-border-radius: 10px 0 0 10px !important;
    -moz-border-radius: 10px 0 0 10px !important;
    -ms-border-radius: 10px 0 0 10px !important;
    -o-border-radius: 10px 0 0 10px !important;
}

@media screen and (max-width: 1120px) {
    .carousel__prev {
        /* left: -4% !important; */
        border-radius: 0 10px 10px 0 !important;
        -webkit-border-radius: 0 10px 10px 0 !important;
        -moz-border-radius: 0 10px 10px 0 !important;
        -ms-border-radius: 0 10px 10px 0 !important;
        -o-border-radius: 0 10px 10px 0 !important;
    }
    
    .carousel__next {
        /* right: -40px !important; */
        border-radius: 10px 0 0 10px !important;
        -webkit-border-radius: 10px 0 0 10px !important;
        -moz-border-radius: 10px 0 0 10px !important;
        -ms-border-radius: 10px 0 0 10px !important;
        -o-border-radius: 10px 0 0 10px !important;
    }
}

.carousel__slide {
    padding: 10px !important;
}

.pagination {
    color: azure !important;
}

.nav-link>i:hover {
    color: rgb(255, 230, 0) !important;
}

.nav-link{
    color:azure !important;
}

.carousel__pagination-button::after {
    height: 12px !important;
    border-radius: 50px !important;
    background-color: rgb(255, 255, 255) !important;
    -webkit-border-radius: 50px !important;
    -moz-border-radius: 50px !important;
    -ms-border-radius: 50px !important;
    -o-border-radius: 50px !important;
}

.carousel__pagination-button:hover::after, .carousel__pagination-button--active::after {
    background-color: #ffbf00 !important;
}
